; PlatformIO Project Configuration File
;
;   Build options: build flags, source filter
;   Upload options: custom upload port, speed and extra flags
;   Library options: dependencies, extra library storages
;   Advanced options: extra scripting
;
; Please visit documentation for the other options and examples
; https://docs.platformio.org/page/projectconf.html
; Note:
; To build and upload for ESP32-S3 DevKitC-1:
; pio run -e esp32-s3-devkitc-1 -t upload
; To monitor on serial:
; pio device monitor -b <baudrate> -f colorize -f send_on_enter -f time

[platformio]
name = ProjectName
description = "Project description"
default_envs = esp32-s3-devkitc-1

[common]
build_flags =
    -D WIFI_SSID=\"${sysenv.WIFI_SSID}\"
    -D WIFI_PASS=\"${sysenv.WIFI_PASS}\"
lib_deps =
    marcoschwartz/LiquidCrystal_I2C @ ^1.1.4

[env:esp32-s3-devkitc-1]
platform = espressif32
board = esp32-s3-devkitc-1
framework = arduino
lib_deps = ${common.lib_deps}
build_flags = ${common.build_flags}
